.module {
    margin-bottom: 50px;
}
.row {
    margin-bottom: 10px;
    text-align: left;
}
.right {
    text-align: right;
}
.success {
    color: rgb(13, 243, 155);
}
.error {
    color: rgb(231, 104, 100);
}
.agree {
    color:rgb(13, 243, 155);
}
.refuse {
    color: #ff0000;
}
.not-approved {
    color: #000;
}